@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Ubuntu, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Cutive Mono, ui-monospace, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: Georgia, serif;
  --radius: 1rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
    }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
    }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
    }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  }
  --animate-shiny-text: shiny-text 8s infinite
;
  @keyframes shiny-text {
  0%, 90%, 100% {
    background-position: calc(-100% - var(--shiny-width)) 0;}
  30%, 60% {
    background-position: calc(100% + var(--shiny-width)) 0;}}
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);}
  to {
    transform: translateX(calc(-100% - var(--gap)));}}
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);}
  to {
    transform: translateY(calc(-100% - var(--gap)));}}}

:root {
  --radius: 1rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2285 0.0170 202.5418);
  --card: oklch(0.9784 0.0011 197.1387);
  --card-foreground: oklch(0.2285 0.0170 202.5418);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2285 0.0170 202.5418);
  --primary: rgb(30, 241, 230);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: #131f20;
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9222 0.0013 286.3737);
  --muted-foreground: oklch(0.2285 0.0170 202.5418);
  --accent: oklch(0.9572 0.0190 200.8657);
  --accent-foreground: oklch(0.8654 0.1468 188.8422);
  --destructive: oklch(0.6385 0.2465 357.2779);
  --border: oklch(0.9414 0.0149 191.7549);
  --input: oklch(0.9828 0.0032 197.1049);
  --ring: oklch(0.8668 0.1485 186.7576);
  --chart-1: oklch(0.8654 0.1468 188.8422);
  --chart-2: oklch(0.6794 0.2198 144.0658);
  --chart-3: oklch(0.6726 0.1999 37.6177);
  --chart-4: oklch(0.6992 0.2306 142.6072);
  --chart-5: oklch(0.6219 0.2511 340.6911);
  --sidebar: oklch(0.9784 0.0011 197.1387);
  --sidebar-foreground: oklch(0.2285 0.0170 202.5418);
  --sidebar-primary: oklch(0.8654 0.1468 188.8422);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9572 0.0190 200.8657);
  --sidebar-accent-foreground: oklch(0.8654 0.1468 188.8422);
  --sidebar-border: oklch(0.9371 0.0128 196.9383);
  --sidebar-ring: oklch(0.8668 0.1485 186.7576);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Ubuntu, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: Cutive Mono, ui-monospace, monospace;
  --shadow-color: #1df2e3;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9348 0.0032 197.1016);
  --card: oklch(0.2154 0.0060 236.8514);
  --card-foreground: oklch(0.8853 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9348 0.0032 197.1016);
  --primary: oklch(0.8625 0.1467 188.8258);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9638 0.0044 179.7338);
  --secondary-foreground: oklch(0.2285 0.0170 202.5418);
  --muted: oklch(0.2090 0 0);
  --muted-foreground: oklch(0.5728 0.0096 196.8886);
  --accent: oklch(0.2648 0.0389 195.0596);
  --accent-foreground: oklch(0.8625 0.1467 188.8258);
  --destructive: oklch(0.6385 0.2465 357.2779);
  --border: oklch(0.2728 0.0058 196.8204);
  --input: oklch(0.3353 0.0320 195.7338);
  --ring: oklch(0.8668 0.1485 186.7576);
  --chart-1: oklch(0.8654 0.1468 188.8422);
  --chart-2: oklch(0.6794 0.2198 144.0658);
  --chart-3: oklch(0.6726 0.1999 37.6177);
  --chart-4: oklch(0.6992 0.2306 142.6072);
  --chart-5: oklch(0.6219 0.2511 340.6911);
  --sidebar: oklch(0.2154 0.0060 236.8514);
  --sidebar-foreground: oklch(0.8853 0 0);
  --sidebar-primary: oklch(0.8668 0.1485 186.7576);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2648 0.0389 195.0596);
  --sidebar-accent-foreground: oklch(0.8625 0.1467 188.8258);
  --sidebar-border: oklch(0.4028 0.0260 196.1659);
  --sidebar-ring: oklch(0.8668 0.1485 186.7576);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 1rem;
  --font-sans: Ubuntu, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: Cutive Mono, ui-monospace, monospace;
  --shadow-color: #1df2e3;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(175.7746 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(175.7746 89.1213% 53.1373% / 0.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}